table {
  margin-left: 17em;
  width: 81%;
  margin-top: 1em;
}
th {
  padding: 5px;
  background-color: #f2f2f2;
  color: black;
  text-align: left;
  font-weight: 600;
  color: #8a8a8a;
}
tr {
  border-bottom: 1em solid #8a8a8a;
  height: 2.5em;
}
td {
  padding: 5px;
  text-align: left;
  border-bottom: 0.1em solid #f2f2f2;
}
